[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
networkx = {extras = ["default"], version = "*"}
numpy = "*"
scipy = "*"
ipython = "*"
jupyter = "*"
pandas = "*"
sympy = "*"
nose = "*"
ipympl = "*"
pillow = "*"

[dev-packages]
pylint = "*"
black = "*"

[requires]
python_version = "3.8"
